body{
    font-family: 'Island Moments', cursive;
    font-family: 'Poppins', sans-serif;
    margin:0px;
}
h1{
    font-size: 40px;
}
.color{
    color: aqua;
}
p{
    font-family: 'Island Moments', cursive;
    font-size: 30px
}
.flaxibal-containar{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 10px;
}
.half-width img{
    width: 100%;
}
.half-width p{
    width: 80%;
}
.button{
    text-decoration: none;
  background-image: linear-gradient(aqua, #C9868C);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.top-banar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left center;
}
h3{
    color: rgb(211, 43, 43);
}
.exprince-item{
    box-shadow: 10px 10px 50px gray;
    width: 44%;
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    border-radius: 10px;
   
}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(aqua, red);
    border-image-slice: 1;
}
#baby-developer{
    border-left: 7px solid;
    border-image: linear-gradient(red, #C9868C);
    border-image-slice: 1;
}
footer{
    text-align: center;
}